<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onno.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationMain"
            android:label="Location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HeatMap"
            android:label="Heatmap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChartSelectionMenu"
            android:label="ChartMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PieChartMain"
            android:label="PieCharts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StolenBicyclesPerMonth"
            android:label="LineChart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StolenBicyclesAndBikeContainersPerMonth"
            android:label="BarChart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NeighbourhoodsWithMostBikeContainers"
            android:label="BarChart Containers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DataLists" />
        <activity android:name=".DeelgemMenu"></activity>
    </application>

</manifest>